$sep-color: #000;
$sep-width: 5px;
$sep-border-color: #fff;
$sep-border-width: 1px;
$sep-border-style: solid;
$nib-color: #fff;
$nib-border: 0 none;
$nib-size: 48px;

$assetdir: '../assets/';

$iconsize: 24px;
